*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper-out {
    max-width: @layout-outer-container-size;
    margin: 0 auto;
}

.wrapper-in {
    max-width: @layout-inner-container-size;
    margin: 0 auto;
    padding: 0 @basic-padding;
}

#content {
    padding-top: @content-top-padding;
    transition: left 1s, opacity 1s linear;
    position: relative;

    left: 100%;
    opacity: 0;

    .loaded & {
        left: 0;
        opacity: 1;
    }

    // .unloaded & {
    //     left: -100%;
    // }
}
