@typography-paragraph-margin: @font-ps-multiplier * 3;

body {
    color: @color-text;
    .font-source-sans();
    font-size: @font-basic-mob;
    line-height: (6em / 4);
    letter-spacing: -0.01em;

    @media @screen-dtp {
        font-size: @font-basic-dtp;
        line-height: (5.25em / 3.5);
    }
}

#content,
footer {
    a {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px dotted @color-link;
        line-height: 1.25em;
        position: relative;

        &,
        &:active,
        &:visited {
            color: @color-link;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            bottom: -1px;
            height: 2px;
            background: @color-link-active;
            transition: width 1s;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}

#content {
    strong {
        font-weight: bold;
        color: @color-link;
    }

    em {
        color: @color-text-on-dark;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    caption {
        .font-jura();
        color: @color-header;
        line-height: (9em / 8);
    }

    h1 {}

    h2 {
        font-size: @font-heading-mob;
        margin: -@basic-padding -@basic-padding (@basic-padding * 2);
        background: @color-site-title;
        color: @color-background;
        padding: @basic-padding;
        opacity: 0.75;

        @media @screen-dtp {
            margin-top: -(@basic-padding * 2);
        }
    }

    h3 {
        font-size: @font-heading-mob;
        margin-bottom: (@font-ps-multiplier * 3);
        padding-top: @basic-padding;

        @media @screen-tab {
            font-size: @font-heading-tab;
        }

        @media @screen-dtp {
            font-size: @font-heading-dtp;
        }
    }

    h4 {
        font-size: (@font-heading-mob * 0.75);

        @media @screen-tab {
            font-size: (@font-heading-tab * 0.75);
        }

        @media @screen-dtp {
            font-size: (@font-heading-dtp * 0.75);
        }
    }

    img {
        max-width: 100%;
    }

    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        margin-bottom: @typography-paragraph-margin;
    }

    img,
    blockquote,
    table {
        margin-top: (@typography-paragraph-margin * 2);
        margin-bottom: (@typography-paragraph-margin * 2);
    }

    q,
    cite {
        color: @color-text-secondary;

        &:before {
            content: "«";
        }

        &:after {
            content: "»";
        }
    }

    blockquote {
        color: @color-text-secondary;
        font-size: @font-heading-mob;
        line-height: 1.25em;
        position: relative;

        &:before {
            content: "\201C";
            color: @color-header;
            font-size: 1.5em;
            position: absolute;
            left: -@basic-padding;
            top: 0.125em;

            @media @screen-dtp {
                left: -(@basic-padding * 2);
                font-size: 3em;
            }
        }
    }

    code {
        color: @color-text-secondary;
        font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
    }

    p.code {
        padding-left: (@basic-padding * 2);
    }

    /*
     * Tables
     */

    table {
        max-width: 100%;
    }

    caption {
        text-align: left;
        padding-bottom: @basic-padding;
    }

    td,
    th {
        border-top: 1px solid @palette-grey-c1;
        padding: (@basic-padding / 2);
        font-size: 0.85em;
        line-height: 1.25em;
        text-align: left;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    tr:first-child {
        td,
        th{
            border-top: none;
            padding-top: 0;
        }
    }

    tr:last-child {
        td,
        th{
            padding-bottom: 0;
        }
    }

    th {
        color: @color-header;
    }

    /*
     * Lists
     */

    ul,
    ol {
        list-style: none;
    }

    li {
        margin-left: (@basic-padding * 2);

        &::before {
            text-align: center;
            display: inline-block;
            width: (@basic-padding * 2);
            margin-left: -(@basic-padding * 2);
            color: @color-header;
        }
    }

    ul {
        > li::before {
            @bullet-size: image-height('../images/converted/ul-bullet.svg');
            content: '';
            background: url(../images/converted/ul-bullet.svg) no-repeat (@basic-padding - (@bullet-size / 2)) top;
            height: @bullet-size;
        }
    }

    ol {
        counter-reset: listitem;

        > li {
            counter-increment: listitem;

            &::before {
                content: counters(listitem,".") ".";
            }
        }
    }

    /*
     * Global list to be used for numbered page sections: action steps, structures etc
     */
    ol.global {
        @global-list-left-offset-mob: @basic-padding * 2;
        @global-list-left-offset-dtp: @basic-padding * 3;

        counter-reset: listitem;

        .counter() {
            content: counter(listitem);
            position: absolute;
            left: -@global-list-left-offset-mob;
            color: @color-background-highlight;
            .font-os-condensed();
            font-size: @font-ps-multiplier * 10;
            line-height: 0.85em;
            z-index: -1;
            transition: color 0.5s;

            @media @screen-dtp {
                left: -@global-list-left-offset-dtp;
                font-size: @font-ps-multiplier * 20;
            }
        }

        > li {
            counter-increment: listitem;
            margin-left: @global-list-left-offset-mob;
            position: relative;

            &::before {
                content: none;
            }

            > *:first-child::before {
                .counter();
            }

            >h3,
            >h4,
            >h5,
            >h6 {
                &:first-child {
                    margin-left: -@global-list-left-offset-mob;

                    &::before {
                        content: none;
                    }

                    + *::before {
                        .counter();
                    }
                }
            }

            // animation
            &:hover {
                > *:first-child::before {
                    color: @palette-grey-c2;
                }

                >h3,
                >h4,
                >h5,
                >h6 {
                    &:first-child + *::before {
                        color: @palette-grey-c2;
                    }
                }
            }
        }

        @media @screen-dtp {
            > li {
                margin-left: @global-list-left-offset-dtp;

                >h3,
                >h4,
                >h5,
                >h6 {
                    &:first-child {
                        margin-left: -@global-list-left-offset-dtp;
                    }
                }
            }
        }
    }
}
