<section>
    <p><strong>lang-uk</strong> — це неформальна група ентузиастів, які ставлять на меті покращення комп'ютерної обробки україномовних текстів. Цей текст описує принципи, на яких будується робота групи.</p>
</section>
<section>
    <ol>
        <li>
            <h3>Волонтерство</h3>
            <p><a href="team">Учасники групи</a> працюють на волонтерських засадах, не розраховуючи на отримання за цю роботу винагороди. Хоча для деяких проектів такий варіант не виключено, але це має обговорюватись окремо для кожного проекту.</p>
        </li>
        <li>
            <h3>Відкриті і загальнодоступні результати</h3>
            <p>Результати роботи групи — це:</p>
            <ul>
                <li>відкриті дані, </li>
                <li>програмний код інструментів роботи з ними, </li>
                <li>машинно-навчені моделі, </li>
                <li>публікації </li>
                <li>та ін. </li>
            </ul>
            <p>Всі ці артефакти мають публікуватись в <a href="#github">центральному репозиторії групи</a>, мати дозволяючу ліцензію на роботу з ними (наприклад, MIT, BSD, Creative Commons, Apache). Ми намагатимемость забезпечити максимальну інтероперабельність рішень, побудованих на цих артефактах, на основі використовувати відкритих специфікацій, стандартних або загальноприйнятих форматів кодування даних і моделей.</p>
        </li>
        <li>
            <h3>Меритократія і демократичність</h3>
            <p>В рамках окремих проектів рішення приймаються тими, хто бере на себе відповідальність за їх реалізацію. В той же час група є майданчиком для обговорень, які відбуваються прозоро, та прийняття спільних рішень щодо принципових напрямків роботи і підходів до реалізації конкретних проектів.</p>
        </li>
    </ol>
</section>