<div id="blueprint">
    <div class="wrapper-in">
        <ul>
            <li class="other">
                <span class="connector corpus">
                    <!--(bake ../../images/converted/blueprint/connector-horizontal.svg)-->
                </span>
                <span class="connector dictionary">
                </span>
                <span class="connector gazetteer">
                </span>
                <span class="connector service">
                    <!--(bake ../../images/converted/blueprint/connector-service.svg)-->
                </span>
                <span class="connector library">
                </span>

            </li>
            <li class="item corpus">
                <a href="#corpuses" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-corpus.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-corpus.png" alt="Іконка зі стопкою текстів" />
                    <![endif]-->
                    <span class="label">Корпуси</span>
                </a>
            </li>
            <li class="item dictionary">
                <a href="#dictionaries" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-dictionary.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-dictionary.png" alt="Іконка із ієрархією літер" />
                    <![endif]-->
                    <span class="label">Словники</span>
                </a>
            </li>
            <li class="item gazetteer">
                <a href="#gazetteers" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-gazetteer.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-gazetteer.png" alt="Іконка із різними написаннями літери" />
                    <![endif]-->
                    <span class="label">Ґазетіри</span>
                </a>
            </li>
            <li class="item service">
                <a href="#services" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-service.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-service.png" alt="Іконка із Зіркою Смерті" />
                    <![endif]-->
                    <span class="label">Сервіси</span>
                </a>
            </li>
            <li class="item library">
                <a href="#libraries" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-library.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-library.png" alt="Іконка з роботом R2-D2" />
                    <![endif]-->
                    <span class="label">Бібліотеки</span>
                </a>
            </li>
            <li class="item model">
                <a href="#models" class="icon">
                    <!--(bake ../../images/converted/blueprint/icon-model.svg)-->
                    <!--[if lt IE 9]>
                        <img src="/images/blueprint/icon-model.png" alt="Іконка з 3D-моделлю літери" />
                    <![endif]-->
                    <span class="label">Моделі</span>

                    <span class="connector model">
                        <!--(bake ../../images/converted/blueprint/connector-horizontal.svg)-->
                    </span>
                </a>
            </li>
            <li class="item app">
                <span class="icon"><!--(bake ../../images/converted/blueprint/icon-app.svg)--></span>
            </li>
        </ul>
    </div>
</div>
