//
// Color palette
//

@palette-white: #ffffff;
@palette-black: #000000;
@palette-black-light: #333333;
@palette-green-flash: #79c753;
@palette-blue-snorkel: #79c753;
@palette-grey-c3: #777777;
@palette-grey-c2: #dddddd;
@palette-grey-c1: #e7e7e7;

//
// Semantic colors
//

@color-background: @palette-white;
@color-text: @palette-black-light;
@color-text-on-dark: @palette-grey-c3;
@color-link: @palette-blue-snorkel;
@color-link-active: @palette-blue-snorkel;
@color-header: @palette-green-flash;

//
// Layout
//

@layout-outer-container-size: 1040px;
@layout-inner-container-size: 640px;
